<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/auth/common.css}"/>
        <title>개인 권한 관리</title>
    </head>
</th:block>

<th:block layout:fragment="content">
    <div id="main_wrapper">
        <h1>개인 권한 관리</h1>
    </div>
    <div id="content_wrapper">
        <div id="search_wrapper" class="bg-secondary p-lg-5">
            <span th:text="회원"/>
            <input type="button" value="회원 선택" th:onclick="fnSearchUserList()">
            <div id="final_subject_list" class="mt-sm-5"></div>
        </div>

        <div id="action_wrapper" class="m-lg-2">
            <input type="button" value="엑셀 업로드(준비중)">
            <input type="button" value="권한 저장" th:onclick="fnSaveAuthority()">
        </div>

        <div id="list_wrapper" class="p-sm-2">
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th class="text-center" scope="col">No</th>
                    <th class="text-center" scope="col">카테고리명</th>
                    <th class="text-center" scope="col">세부 메뉴</th>
                    <th class="text-center" scope="col">메뉴 노출 여부</th>
                    <th class="text-center" scope="col">권한 레벨</th>
                </tr>
                </thead>
                <tbody id="authList" th:object="${code}">
                <tr th:class="auth-row" th:if="${not #lists.isEmpty(list)}" th:each="row, stat : ${list}" th:value="${row.getCodeCd()}">
                    <input type="hidden" name="_codeCd" th:value="${row.getCodeCd()}">
                    <input type="hidden" name="_codeOrd" th:value="${row.getCodeOrd()}">
                    <td th:text="${row.getRowNum()}"></td>
                    <td th:value="${row.getParentCodeCd()}" th:text="${row.getParentCodeNm()}"></td>
                    <td th:text="${row.getCodeNm()}"></td>
                    <td>
                        <input type="checkbox" th:field="*{displayUseYn}" th:value="*{displayUseYn}">
                        <label th:for="${#ids.prev('displayUseYn')}">노출</label>
                    </td>
                    <td>
                        <input type="checkbox" th:field="*{authR}" th:data-code-cd="${row.codeCd}" th:value="*{authR}">
                        <label th:for="${#ids.prev('authR')}">조회</label>

                        <input type="checkbox" th:field="*{authC}" th:data-code-cd="${row.codeCd}" th:value="*{authC}">
                        <label th:for="${#ids.prev('authC')}">저장</label>

                        <input type="checkbox" th:field="*{authU}" th:data-code-cd="${row.codeCd}" th:value="*{authU}">
                        <label th:for="${#ids.prev('authU')}">수정</label>

                        <input type="checkbox" th:field="*{authD}" th:data-code-cd="${row.codeCd}" th:value="*{authD}">
                        <label th:for="${#ids.prev('authD')}">삭제</label>

                        <input type="checkbox" th:field="*{authF}" th:data-code-cd="${row.codeCd}" th:value="*{authF}">
                        <label th:for="${#ids.prev('authF')}">파일</label>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(list)}">
                    <td class="no-row-found" colspan="5" th:text="|데이터가 없습니다.|"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="modalContainer" class="hidden">
        <div id="modal_detail_wrapper" class="container">
            <div class="row">
                <p>
                    <span><b>회원 선택</b></span>
                    <span class="glyphicon glyphicon-remove" id="modalCloseButton" th:onclick="'fnModalHandler(this, 0)'" style="font-size: 4rem" ></span>
                </p>
            </div>
            <div class="modal_search_wrapper row">
                <p>
                    <span th:text="검색"></span>
                    <input type="text" name="searchKeyword">
                    <input type="button" value="검색" th:onclick="fnSearchUserList()">
                    <input type="button" value="초기화" th:onclick="fnRefreshHandler()">
                </p>
            </div>
            <div id="user_list_wrapper" class="row">
                <div id="valid_user_list" class="left_wrapper col-sm-5">
                    <p th:each="user : ${users}" th:class="left-list" th:value="${user.getUserSeq()}" th:onclick="'fnSubjectSelectHandler(this)'">
                        <span th:value="${user.getUserNm()}" th:text="${user.getUserNm()} + ' ' + ${user.getPositionNm()} + ' / ' + ${user.getAppointNm()} + ' ' + ${user.getDeptNm()}"></span>
                    </p>
                </div>
                <div id="modal_list_action_wrapper" class="col-sm-1 pt-sm-3">
                    <p class="glyphicon glyphicon-chevron-right" style="font-size: 4rem" th:onclick="'fnMoveSubjectHandler(this, &quot;LTR&quot;)'"></p>
                    <p class="glyphicon glyphicon-chevron-left" style="font-size: 4rem" th:onclick="'fnMoveSubjectHandler(this, &quot;RTL&quot;)'"></p>
                    <p class="glyphicon glyphicon-refresh" style="font-size: 4rem" th:onclick="'fnMoveSubjectHandler(this, &quot;CLEAR&quot;)'"></p>
                </div>
                <div id="auth_subject_list" class="right_wrapper col-sm-5">
                </div>
            </div>
            <div id="modal_action_wrapper" class="align-items-center">
                <input type="button" value="취소" th:onclick="'fnModalHandler(this, 0)'">
                <input type="button" value="선택" th:onclick="fnSelectSubject()">
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        // 대상 회원 선택
        let fnSelectSubject = () => {
            let _finalList = $('#auth_subject_list > .right-list');
            if(_finalList.length < 1) {
                alert('회원을 선택 해주세요.');
                return false;
            }

            if(confirm('선택 하시겠습니까?')) {
                _finalList.each(function() {
                    let _seq = $(this).attr('value');
                    let _value = $(this).children('span').attr('value');
                    if(fnOnSubjectListChecker(_seq)) {
                        $('#final_subject_list').append(`<span value="${_seq}">${_value}<span class="glyphicon glyphicon-remove" onclick="fnElementHandler(this, 0)"></span></span>`);
                    }
                })

                $('#modalContainer').addClass('hidden');
            }
        }

        // 대상 목록 체커
        let fnOnSubjectListChecker = (s) => {
            let flag = true;
            if(s == undefined || s === '') {
                return false;
            }

            if($('#final_subject_list > span').length > 0) {
                $('#final_subject_list > span').each(function() {
                    let _this = $(this);
                    let _val = _this.attr('value');
                    if(_val === s) {
                        flag = false;
                    }
                })
            }

            return flag;
        }

        // 사용자 조회
        let fnSearchUserList = () => {
            let _searchKeyword = $('input[name=searchKeyword]').val();
            $.ajax({
                url: '/auth/auth-popup',
                type: 'get',
                contentType: 'application/json; charset=UTF-8',
                data: {searchKeyword: _searchKeyword}
            })
            .done(function(data) {
                $('#user_list_wrapper').replaceWith(data);
                $('#modalContainer').removeClass('hidden');
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }

        // 권한 저장
        let fnSaveAuthority = () => {
            const tgtList = [];
            const authList = $('.auth-row');
            const userList = [];
            $('#final_subject_list').find('span').each(function() {
                if($(this).attr('value') != undefined) {
                    userList.push($(this).attr('value'));
                }
            })
            // userList.push("ijzone1");

            Array.from(authList).forEach(auth => {
                let data = {
                    menuCd: $(auth).find('input[name=_codeCd]').val()
                    , menuOrd: $(auth).find('input[name=_codeOrd]').val()
                    , authC: $(auth).find('input[name=authC]').is(':checked') == true ? 'Y' : 'N'
                    , authR: $(auth).find('input[name=authR]').is(':checked') == true ? 'Y' : 'N'
                    , authU: $(auth).find('input[name=authU]').is(':checked') == true ? 'Y' : 'N'
                    , authD: $(auth).find('input[name=authD]').is(':checked') == true ? 'Y' : 'N'
                    , authF: $(auth).find('input[name=authF]').is(':checked') == true ? 'Y' : 'N'
                    , displayUseYn: $(auth).find('input[name=displayUseYn]').is(':checked') == true ? 'Y' : 'N'
                    , userIdList: userList
                }
                tgtList.push(data);
            })

            $.ajax({
                url: '/auth/individual/api',
                type: 'post',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(tgtList)
            })
            .done(function (data) {
                alert(data.message);
                $('input[type=checkbox]').each(function () {
                    this.checked = false;
                })
                $('#final_subject_list').empty();
            })
            .fail(function (jqXHR) {
                console.log(jqXHR);
            });
        }

        // 체크박스 handler
        $('input[type=checkbox]').on('click', function () {
            const _this = $(this);
            let _authLevel = $(this).attr('name');
            // $(this).siblings('input[name=authU]').is(':checked')
            if (_authLevel === 'authR') {
                if (!_this.siblings('input[name=authR]').is(':checked')) {
                    _this.siblings('input[name=authC]').prop('checked', false);
                    _this.siblings('input[name=authU]').prop('checked', false);
                    _this.siblings('input[name=authD]').prop('checked', false);
                }
            }
            if (_authLevel === 'authC') {
                if (!_this.siblings('input[name=authC]').is(':checked')) {
                    _this.siblings('input[name=authU]').prop('checked', false);
                    _this.siblings('input[name=authD]').prop('checked', false);
                }

                if (!_this.siblings('input[name=authR]').is(':checked')) {
                    _this.siblings('input[name=authR]').prop('checked', true);
                }
            }
            if (_authLevel === 'authU') {
                if (!_this.siblings('input[name=authU]').is(':checked')) {
                    _this.siblings('input[name=authD]').prop('checked', false);
                }

                if (!_this.siblings('input[name=authR]').is(':checked') || !_this.siblings('input[name=authC]').is(':checked')) {
                    _this.siblings('input[name=authR]').prop('checked', true);
                    _this.siblings('input[name=authC]').prop('checked', true);
                }
            }
            if (_authLevel === 'authD') {
                if (!_this.siblings('input[name=authR]').is(':checked') || !_this.siblings('input[name=authC]').is(':checked') || !_this.siblings('input[name=authU]').is(':checked')) {
                    _this.siblings('input[name=authR]').prop('checked', true);
                    _this.siblings('input[name=authC]').prop('checked', true);
                    _this.siblings('input[name=authU]').prop('checked', true);
                }
            }
        })

        // Modal handler
        let fnModalHandler = (t, f) => {
            if (f === 0) {
                $('#modalContainer').addClass('hidden');
            } else {
                $('#modalContainer').removeClass('hidden');
            }
        }

        // Element handler
        let fnElementHandler = (t, f) => {
            const _this = $(t);
            if (f === 0) {
                _this.parent('span').remove();
            }
        }

        // 대상자 선택 handler
        let fnSubjectSelectHandler = (t) => {
            const _this = $(t);

            let _parentId = _this.parent().attr('id');
            if(_parentId === 'valid_user_list') {
                if(_this.hasClass('bg-dark-subtle')) {
                    _this.removeClass('bg-dark-subtle');
                }else {
                    _this.addClass('bg-dark-subtle');
                }
            }
            if(_parentId === 'auth_subject_list') {
                if(_this.hasClass('bg-dark-subtle')) {
                    _this.removeClass('bg-dark-subtle');
                }else {
                    _this.addClass('bg-dark-subtle');
                }
            }
        }

        // 대상자 이동
        let fnMoveSubjectHandler = (t, d) => {
            const _this = $(t);
            let _parentId = _this.parent().attr('id');

            if(d === 'LTR') {
                $('p.left-list.bg-dark-subtle').each(function() {
                    let _ele = $(this).clone();
                    let _val = _ele.attr('value');
                    let movable = true;

                    movable = fnSelectedSubjectChecker('p.right-list', _val);
                    if(movable) {
                        _ele.removeClass('left-list');
                        _ele.removeClass('bg-dark-subtle');
                        _ele.addClass('right-list');
                        _ele.appendTo('#auth_subject_list');
                    }
                })
            }
            if(d === 'RTL') {
                $('p.right-list.bg-dark-subtle').each(function() {
                    let _val = $(this).attr('value');
                    $(this).remove();

                    $('p.left-list.bg-dark-subtle').each(function() {
                        let _this = $(this);
                        if(_this.attr('value') === _val) {
                            _this.removeClass('bg-dark-subtle');
                        }
                    })
                })
            }
            if(d === 'CLEAR') {
                $('p.right-list').each(function() {
                    $(this).remove();
                })
                $('p.left-list.bg-dark-subtle').each(function() {
                    $(this).removeClass('bg-dark-subtle');
                })

            }

        }

        // 대상자 기 추가 여부 체커
        let fnSelectedSubjectChecker = (c, v) => {
            let flag = true;
            $(c).each(function() {
                let _valCompare = $(this).attr('value');
                if(v === _valCompare) {
                    flag = false;
                    return false;
                }
            })

            return flag;
        }

        // 초기화
        let fnRefreshHandler = () => {
            $('input[name=searchKeyword]').val('');
            fnSearchUserList();
        }
    </script>
</th:block>
</html>