<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/auth/common.css}"/>
        <title>개인 권한 관리</title>
    </head>
</th:block>

<th:block layout:fragment="content">
    <div id="main_wrapper">
        <h1>개인 권한 관리</h1>
    </div>
    <div id="content_wrapper">
        <div id="search_wrapper" class="bg-secondary p-lg-5">
            <span th:text="회원"/>
            <input type="button" value="회원 선택">
        </div>

        <div id="action_wrapper" class="m-lg-2">
            <input type="button" value="엑셀 업로드">
            <input type="button" value="권한 저장">
        </div>

        <div id="list_wrapper" class="p-sm-2">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">No</th>
                        <th class="text-center" scope="col">카테고리명</th>
                        <th class="text-center" scope="col">세부 메뉴</th>
                        <th class="text-center" scope="col">메뉴 노출 여부</th>
                        <th class="text-center" scope="col">권한 레벨</th>
                    </tr>
                </thead>
                <tbody id="authList" th:object="${code}">
                    <tr th:if="${not #lists.isEmpty(list)}" th:each="row, stat : ${list}">
                        <td th:text="${row.getRowNum()}"></td>
                        <td  th:text="|Category|"></td>
                        <td th:text="${row.getCodeNm()}"></td>
                        <td><input type="checkbox" th:checked="${#strings.equals('Y', row.getUseYn())}" th:value="${row.getUseYn()}"><span th:text="노출"></span></td>
                        <td>
                            <input type="checkbox" th:field="*{authR}" th:data-code-cd="${row.codeCd}" th:value="*{authR}"><label th:for="${#ids.prev('authR')}">조회</label>
                            <input type="checkbox" th:field="*{authC}" th:data-code-cd="${row.codeCd}" th:value="*{authC}"><label th:for="${#ids.prev('authC')}">저장</label>
                            <input type="checkbox" th:field="*{authU}" th:data-code-cd="${row.codeCd}" th:value="*{authU}"><label th:for="${#ids.prev('authU')}">수정</label>
                            <input type="checkbox" th:field="*{authD}" th:data-code-cd="${row.codeCd}" th:value="*{authD}"><label th:for="${#ids.prev('authD')}">삭제</label>
                            <input type="checkbox" th:field="*{authF}" th:data-code-cd="${row.codeCd}" th:value="*{authF}"><label th:for="${#ids.prev('authF')}">파일</label>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(list)}">
                        <td class="no-row-found" colspan="5" th:text="|데이터가 없습니다.|"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 목록 조회
        let fnSearchList = () => {
            const data = {
                boardPublicVO: {
                    searchDateType: $('#searchDateType option:selected').val(),
                    startDt: $('#sDate').val(),
                    endDt: $('#eDate').val(),
                    searchKeywordType: $('#searchKeywordType option:selected').val(),
                    searchWord1: $('input[name=searchWord1]').val()},
                paging: {
                    currentPage: currentPage,
                    displayRow: displayRow,
                    totalCount: totalCount
                }
            }

            $.ajax({
                url: '/board/api/list',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(data)
            })
            .done(function(data) {
                $('#list_wrapper').replaceWith(data);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }

        // 권한 저장
        let fnSaveAuthority = () => {
            let checkedList = [];
            $('input[name=chkbox]:checked').each(function() {
                checkedList.push(this.value);
            });
            if(checkedList.length < 1) {
                alert('삭제 처리 하실 게시판을 선택 해주세요.');
                return false;
            }
            if(!confirm('선택한 게시판을 삭제 처리 하시겠습니까?')) {
                return false;
            }
            $.ajax({
                url: '',
                type: 'delete',
                data: {lastId: 'ij', checkedList: checkedList}
            })
            .done(function(data) {
                console.log(data);
                fnSearchList(1, 10, 0);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }
    </script>
</th:block>
</html>