<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dejay.framework.mapper.token.TokenMapper">

    <sql id="whereClause">
        <choose>
            <when test='reissue eq "Y"'>
                AND REFRESH_TOKEN = #{token}
            </when>
            <otherwise>
                AND ACCESS_TOKEN = #{token}
            </otherwise>
        </choose>
    </sql>

    <select id="isTokenExist">
        SELECT COUNT(1)
          FROM INFO_TOKEN
         WHERE USE_YN = 'Y'
           AND REG_ID = #{memberId}
    </select>

    <select id="isValidToken">
        SELECT IF(COUNT(1), true, false)
          FROM INFO_TOKEN
         WHERE USE_YN = 'Y'
        <include refid="whereClause"/>
    </select>

    <select id="findTokenSeq" resultType="java.lang.String">
        SELECT TOKEN_SEQ
          FROM INFO_TOKEN
         WHERE USE_YN = 'Y'
           AND REG_ID = #{memberId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="logId1">
        INSERT INTO INFO_TOKEN(ACCESS_TOKEN, REFRESH_TOKEN, TOKEN_TYPE, REG_ID, REG_DT, LAST_DT, LAST_ID)
             VALUES (#{accessToken}, #{refreshToken}, #{tokenType}, #{memberId}, sysdate(), sysdate(), #{memberId})
    </insert>

    <update id="update">
        UPDATE INFO_TOKEN
           SET ACCESS_TOKEN = #{accessToken}, REFRESH_TOKEN = #{refreshToken}
         WHERE USE_YN = 'Y'
           AND REG_ID = #{memberId}
    </update>
</mapper>