<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/board/common.css}"/>
        <title>공통 게시판 상세</title>
    </head>
</th:block>

<th:block layout:fragment="content">
    <div id="main_wrapper">
        <h1>공통 게시판 상세</h1>
    </div>

    <div id="content_wrapper" th:object="${rowData}">
        <div id="info_wrapper" class="bg-secondary p-sm-2">
            <p>
                <span th:text="${rowData.getTitle()}">제목</span>
            </p>
            <p>
                <span th:text="'작성자: ' + *{regId} + ' | 등록일: ' + *{regDtStr} + ' | 조회수:' + *{hits}"></span> <br>
            </p>
        </div> <br>
        <div class="container">
            <p class="col-md-2"></p>
            <p class="col-md-6">파일명</p>
            <p class="col-md-2">상태</p>
            <p class="col-md-2">크기</p>
        </div>
        <div id="file_wrapper">
            <div class="data-files" th:each="ele : ${files}">
                <a th:href="@{/file/download/{fileSeq}(fileSeq=${ele.getFileSeq()})}" th:text="${ele.getFileNmOrg()}" onclick="fnFileDownload(this)"></a>
            </div>
        </div>
        <div id="detail_wrapper">
            <p>
                <span th:text="*{contents}"></span>
            </p>
        </div>
        <div id="reply_wrapper" class="bg-secondary p-sm-2">
            <caption>댓글</caption>
            <p>
                <textarea></textarea>
                <input type="button" value="입력">
            </p>
            <div id="reply_data_wrapper" th:each="ele : ${replyList}">
                <p><span th:text="${ele.getRegId()} + ' | ' + ${ele.getRegDtStr()}"></span>
                   <span th:classappend="${ele.getRegId() == 'ijzone' ? 'glyphicon glyphicon-remove' : ''}" th:onclick="'fnRemoveReply(' + *{boardSeq} + ', ' + ${ele.getRippleSeq()} + ')'"></span>
                </p>
                <p><span th:text="${ele.getContents()}">contents</span></p>
            </div>
        </div>
        <div id="button_wrapper" class="p-sm-2">
            <input type="button" th:value="삭제" th:onclick="'fnDeleteBoard(' + *{boardSeq} + ')'" />
            <input type="button" th:value="수정" th:onclick="'fnEditBoard(' + *{boardSeq} + ')'" />
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let filesArr =[[${files}]];


        // 게시글 삭제
        let fnDeleteBoard = (seq) => {
            if(!confirm('삭제 하시겠습니까?')) {
                return false;
            }
            let checkedList = [];
            checkedList.push(seq);
            $.ajax({
                url: '/board/api/delete',
                type: 'delete',
                data: {lastId: 'ij', checkedList: checkedList}
            })
            .done(function(data) {
                window.location.href = '/board';
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }

        let fnEditBoard = (seq) => {
            window.location.href = `/board/edit/${seq}`;
        }

        let fnRemoveReply = (boardSeq, rippleSeq) => {
            const data = {
                boardSeq: boardSeq
                , rippleSeq: rippleSeq
                // , lastId: 'ijzone'
            }
            $.ajax({
                url: '/board/api/reply',
                type: 'delete',
                dataType: 'text',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(data)
            })
            .done(function(data) {
                console.log(data);
                $('#reply_wrapper').replaceWith(data);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }
    </script>
</th:block>
</html>