<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/board/detail.css}"/>
        <title>공통 게시판 상세</title>
    </head>
</th:block>

<th:block layout:fragment="content">
    <div id="main_wrapper">
        <h1>공통 게시판 상세</h1>
    </div>
    <div id="content_wrapper">
        <span th:text="${rowData.getBoardSeq()}">게시글 ID</span> <br>
        <span th:text="${rowData.getBoardCd()}">게시글 코드</span> <br>
        <span th:text="${rowData.getTitle()}">타이틀</span> <br>
<!--            <span th:text="${rowData.getContents()}">내용</span> <br>-->
            <span th:text="${rowData.getHits()}">조회수</span> <br>
            <span th:text="${rowData.getDelYn()}">삭제여부</span> <br>
            <span th:text="${rowData.getRegDtStr()}">등록일</span> <br>
        <span th:text="${rowData.getRegId()}">등록자</span> <br>
            <span th:text="${rowData.getLastDtStr()}">수정일</span> <br>
            <span th:text="${rowData.getLastId()}">수정자</span>
    </div>
</th:block>
</html>