<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:input="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}" lang="ko">

<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/board/common.css}"/>
        <title>공통 게시판 등록</title>
    </head>
</th:block>

<th:block layout:fragment="content">
    <div id="main_wrapper">
        <h1>공통 게시판 등록</h1>
    </div>

    <form id="form" th:action="@{/board/registration}" th:object="${boardPublic}" method="post" enctype="multipart/form-data">
        <div id="content_wrapper">
            <div id="info_wrapper" class="bg-secondary p-sm-2">
                <p>
                    <span>작성자</span>
                    <span>name</span>
                </p>
                <p>
                    <span>제목<span class="glyphicon-asterisk"></span></span>
                    <span><input type="text" th:field="*{title}"></span>
                </p>
                <p>
                    <span>썸네일 이미지</span>
                    <span>THUMBNAIL IMAGE</span>
                </p>
            </div>
            <div id="detail_wrapper" class="p-sm-2">
                <textarea th:field="*{contents}"></textarea>
            </div>
            <div id="file_wrapper">
                <div id="data-files">

                </div>
                <div>
                    <label for="files" >파일 추가</label>
                    <input type="file" id="files" name="files" onchange="addFile()" style="display:none" multiple>
                </div>
            </div>
            <div id="button_wrapper">
                <input type="button" th:value="취소" th:onclick="fnBoardList()" />
                <input type="button" th:value="저장" th:onclick="fnRegistrationBoard()" />
            </div>
        </div>
        <input type="hidden" th:field="*{regId}">
        <input type="hidden" th:field="*{boardCd}">
    </form>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let filesArr = [];
        // 게시판 등록
        let fnRegistrationBoard = () => {
            if($('input[name=title]').val() === '') {
                alert('필수 정보를 입력해주세요.');
                return false;
            }
            if(!confirm('저장 하시겠습니까?')) {
                return false;
            }
            const data = {
                regId: 'ij',
                boardCd: 'MENU0301',
                title: $('input[name=title]').val(),
                contents: $('textarea[name=contents]').val()
                // thumbnail image file
                // ck editor
                // multiple file upload
            }

            let formData = new FormData();

            for(let i=0; i<filesArr.length; i++){
                formData.append("files", filesArr[i]);
            }

            formData.append('data', new Blob([JSON.stringify(data)],{type: "application/json"}));
            $.ajax({
                url: '/board/api/registration',
                type: 'post',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: formData
            })
            .done(function(data) {
                if(data.code === 400) {
                    alert(data.errMsg.title);
                    return false;
                }
                window.location.href = '/board';
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            });
        }

        // 게시판 목록화면 이동
        let fnBoardList = () => {
            window.location.href = '/board';
        }

        // 파일 정보에 해당 하는 것을 생성
        function createFileInfo(files){
            const dataFiles = document.getElementById("data-files");
            files.forEach(file => {
                filesArr.push(file);
                dataFiles.innerHTML += '<div id="'+file.lastModified+'">'+file.name+'<button type="button" data-index="'+file.lastModified +'" onclick="fileDeleteFn(this)">X</button></div>';
            });
        }

        // 파일 추가 버튼 클릭
        function addFile(){
            const addFile = document.querySelector("#files");
            const files = Array.from(addFile.files);
            createFileInfo(files);
        }

        function fileDeleteFn (obj) {
            const removeTargetId = obj.dataset.index;
            let removeTarget = document.getElementById(removeTargetId);

            fileArrDelete(removeTargetId);
            removeTarget.remove();
        }

        function fileArrDelete(removeTargetId){
            let arr = filesArr.filter(file => file.lastModified != removeTargetId);
            filesArr = Array.from(arr);
        }
    </script>
</th:block>
</html>