<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/member/member-find.css}"/>
        <title>비밀번호 찾기</title>
    </head>
</th:block>
<th:block layout:fragment="content">
    <div id="main_wrapper">
        <div class="container">
            <div id="find-wrapper" class="row">
                <div id="findById-wrapper" class="col-md-6">
                    <a id="findById" href="/member/findById"><label> 아이디 찾기 </label></a>
                </div>
                <div id="findByPassword-wrapper" class="col-md-6">
                    <a id="findByPassword" href="/member/findByPwd"><label> 비밀번호 찾기 </label></a>
                </div>
            </div><br>
            <div>
                <input type="hidden" name="user-id" th:value="${id}">
                <h2>비밀번호 변경</h2><br><hr>
                <div>
                    <label for="user-password">비밀번호 * </label><br>
                    <input type="password" id="user-password" name = "user-password" path="user-password"/>
                </div>
                <div>
                    <label for="user-password-check">비밀번호 확인 * </label> <br>
                    <input type="password" id="user-password-check" name= "user-password-check" path="user-password-check"/>
                </div>
            </div>
            <input class="btn btn-default" id="btnCancle" type="button" value="취소" onclick="cancel()"/>
            <input class="btn btn-default" id="btnNext" type="button" value="비밀번호 변경" onclick="pwdChg()"/>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/static/js/common.js"></script>
    <script th:inline="javascript">
        function pwdChg(){
            let userId=$('input[name=user-id]').val();
            let userPassword = $('input[name=user-password]').val();
            let userPasswordChk = $('input[name=user-password-check]').val();
            let flag= true;

            if(userPassword!==userPasswordChk){
                flag=false;
                alert("패스워드가 일치하지 않습니다.");
            }
            if(!flag) return;

            let member = {
                userPwd : userPassword,
                userId : userId
            };
            $.ajax({
                url:"/member/updatePwd",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(member),
                success : function(data){
                    if(data.result==="success"){
                        alert("비밀번호 변경이 완료 되었습니다.\n 변경된 비밀번호로 로그인 해주세요");
                        window.location.href="/login"
                    } else{
                        alert("비밀번호 변경을 실패하였습니다. \n 다시 시도해주세요.")
                    }

                },
                error : function(request, status, error) {
                    let result = JSON.parse(request.responseText);
                    alert(result.message);
                }
            })
        }
        function cancel() {
            if(confirm("취소하시면 비밀번호 변경이 되지 않습니다.\n 취소 하시겠습니까?")){
                window.location.href="/login";
            }

        }
    </script>
</th:block>
</html>