<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="css">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/member/member-find.css}"/>
        <title>비밀번호 찾기</title>
    </head>
</th:block>
<th:block layout:fragment="content">
    <div id="main_wrapper">
        <div class="container">
            <div id="find-wrapper" class="row">
                <div id="findById-wrapper" class="col-md-6">
                    <a id="findById" href="/member/findById"><label> 아이디 찾기 </label></a>
                </div>
                <div id="findByPassword-wrapper" class="col-md-6">
                    <a id="findByPassword" href="/member/findByPwd"><label> 비밀번호 찾기 </label></a>
                </div>
            </div><br>
            <div>
                <h2>비밀번호 변경</h2><br><hr>
                <div>
                    <label>비밀번호 * </label><br>
                    <input type="text" id="user-password" path="user-password"/>
                </div>
                <div>
                    <label>비밀번호 확인 * </label> <br>
                    <input type="text" id="user-password-check" path="user-password-check"/>
                </div>
            </div>
            <input id="btnCancle" type="button" value="취소" onclick="cancel()"/>
            <input id="btnNext" type="button" value="비밀번호 변경" onclick="next()"/>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function next(){
            window.location.href="/member/pwdChange";
        }
        function cancel() {
            window.location.href="/login";
        }
    </script>
</th:block>
</html>