<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dejay.framework.mapper.code.CodeMapper">

    <insert id="insert">
        INSERT INTO CODE
        (
            CODE, CODE_NAME
            , REMARK1, VALUE1, REMARK2, VALUE2
            , CODE_ORD, USE_YN
        )
        VALUES
        (
            #{code}, #{codeName}
            , #{remark1}, #{value1}, #{remark2}, #{value2}
            , #{codeOrd}, #{useYn}
        )
    </insert>

</mapper>