<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">

<!-- Head-->
    <div id="wrapper">
        <!-- Begin Header -->
        <div class="header">
            <h2 class="header-child left">ADMIN</h2>
            <a th:if= "${session.loginInfo == null}" href="/login"><h2 class="header-child right">LOG-IN</h2></a>
            <a th:if= "${session.loginInfo != null}" href="#"><h2  th:text="${session.loginInfo.userNm}" class="header-child right"></h2></a>
        </div>
    </div>
</html>