<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <link  rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/static/lib/bootstrap/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/lib/bootstrap/css/bootstrap-utilities.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/lib/bootstrap/css/bootstrap-utilities.rtl.css}"/>

        <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/jquery/jquery-3.7.1.min.js}"></script>
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/jquery/jquery-ui.min.js}"></script>
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/lib/dist/xlsx.full.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/static/lib/jquery/jquery-ui.min.css}"/>

        <!-- 공통 calenadr를 위한 datepicker -->
        <script th:inline="javascript" type="text/javascript" th:src="@{/static/js/dateUtil.js}"></script>
    </head>
</th:block>

</html>