<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dejay.framework.mapper.common.EntityLogMapper">

    <select id="getTablePrimaryKey">
        SELECT COLUMN_NAME
          FROM INFORMATION_SCHEMA.COLUMNS INFO
         WHERE COLUMN_KEY = 'PRI'
           AND table_name = #{tableName}
    </select>

    <insert id="saveEntityLogData">
        INSERT INTO ENTITY_LOG (ENTITY_NAME, LOG_ID1, LOG_TYPE
                            <if test="logId2 != null">
                              , LOG_ID2
                            </if>
                            <if test="logJson != null">
                              , LOG_JSON
                            </if>
                            <if test="remark != null">
                              , REMARK
                            </if>
                              , REG_ID, REG_DTTM)
             VALUES (#{tableName}, #{logId1}, #{logType}
                <if test="logId2 != null">
                   , #{logId2}
                </if>
                <if test="logJson != null">
                   , #{logJson}
                </if>
                <if test="remark != null">
                   , #{remark}
                </if>
                   , #{regId}, NOW())
    </insert>
</mapper>