#login_wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

#login_info{
    width:400px;
    height:250px;
    background:lightgray;
}


.form-group{
    margin-top:20px;
}