<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dejay.framework.mapper.member.MemberMapper">
    <select id="getMemberList" resultType="MemberVO">
        SELECT * FROM MEMBER
    </select>

    <select id="findMemberById" resultType="MemberVO">
        SELECT * FROM MEMBER WHERE MEMBER_SEQ = #{id}
    </select>

    <insert id="insertMember" useGeneratedKeys="true">
        INSERT INTO MEMBER(MEMBER_ID, MEMBER_NAME, EMAIL) VALUES (#{memberId}, #{memberName}, #{email})
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>