<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dejay.framework.mapper.member.MemberMapper">

    <sql id="searchCondition">

    </sql>

    <select id="memberListCount">
        SELECT COUNT(1) FROM MEMBER
    </select>

    <select id="memberListSearchCount">
        SELECT COUNT(1) FROM MEMBER
        <where></where>
        ORDER BY MEMBER_SEQ DESC
    </select>

    <select id="getMemberList" resultType="MemberVO">
        SELECT MEMBER_SEQ, MEMBER_ID, MEMBER_NAME, EMAIL FROM MEMBER
        <where></where>
        ORDER BY MEMBER_SEQ DESC
        <include refid="mapper.paging.pagingQuery"/>
    </select>

    <select id="findMemberById" resultType="MemberVO">
        SELECT * FROM MEMBER WHERE MEMBER_SEQ = #{id}
    </select>

    <select id="findMemberByUserName" resultType="MemberVO">
        SELECT M.MEMBER_SEQ, M.MEMBER_ID, M.PASSWORD, M.MEMBER_NAME, M.EMAIL, M.DEPT_CODE
        FROM MEMBER M
            LEFT OUTER JOIN CODE C ON M.DEPT_CODE = C.CODE
        WHERE MEMBER_ID = #{userName}
    </select>

    <select id="getLoginInfo" resultType="MemberVO">
        SELECT MEMBER_ID, PASSWORD, MEMBER_NAME
        FROM MEMBER
        WHERE MEMBER_ID = #{userName}
    </select>

    <insert id="insertMember" useGeneratedKeys="true">
        INSERT INTO MEMBER(MEMBER_ID, MEMBER_NAME, EMAIL) VALUES (#{memberId}, #{memberName}, #{email})
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO MEMBER(MEMBER_ID, PASSWORD, DEPT_CODE, MEMBER_NAME, EMAIL) VALUES (#{id}, #{password}, #{deptCode}, #{name}, #{email})
        <selectKey keyProperty="seq" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>