<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dejay.framework.mapper.file.FileMapper">
    <!-- 공통 [[ -->
    <!-- column [[ -->
    <sql id="fileColumn">
        ${alias}FILE_SEQ AS fileSeq, ${alias}ENTITY_NAME AS entityNm,
        ${alias}ENTITY_SEQ AS entitySeq, ${alias}ENTITY_TYPE AS entityType,
        ${alias}FILE_PATH AS filePath, ${alias}FILE_NAME AS fileNm,
        ${alias}ORIGIN_FILE_NAME AS orgFileName, ${alias}FILE_TYPE AS fileType,
        ${alias}FILE_SIZE AS fileSize
    </sql>

    <sql id="tempFileColumn">
          ${alias}ENTITY_NAME AS entityNm
        , ${alias}ENTITY_TYPE AS entityType, ${alias}FILE_NAME AS fileNm
        , ${alias}ORIGIN_FILE_NAME AS orgFileNm, ${alias}FILE_SIZE AS fileSize
    </sql>

    <!-- column ]] -->

    <!-- whereClause [[ -->

    <sql id="whereClause" >
        <if test="entitySeq != null and entitySeq !=''">
            AND ${alias}ENTITY_SEQ = #{entitySeq}
        </if>
        <if test="entityNm != null and entityNm != ''">
            AND ${alias}ENTITY_NAME = #{entityNm}
        </if>
        <if test="fileNm != null and fileNm != ''">
            AND ${alias}FILE_NAME = #{fileNm}
        </if>
        <if test="fileSeq != null and fileSeq != ''">
            AND ${alias}FILE_NAME = #{fileSeq}
        </if>
    </sql>

    <!-- whereClause ]] -->

    <!-- 공통 ]] -->


    <!-- 조회 [[ -->

    <select id="getFiles" resultType="FileVO">
        SELECT
            <include refid="fileColumn"><property name="alias" value="FE."/></include>
        FROM FILE FE
        <where>
            <include refid="whereClause"><property name="alias" value="FE."/></include>
        </where>
    </select>


    <select id="getFile" resultType="FileVO">
        SELECT
            <include refid="fileColumn"><property name="alias" value="FE."/></include>
        FROM FILE FE
        WHERE
            FE.FILE_SEQ = #{fileSeq}
    </select>

    <select id="getTempFile" parameterType="String" resultType="FileVO">
        SELECT
            <include refid="tempFileColumn"><property name="alias" value="FT."/></include>
        FROM FILE_TEMP FT
        WHERE FT.FILE_NAME = #{fileNm}
    </select>
    <!-- 조회 ]] -->

    <!-- 저장/수정/삭제 [[ -->

    <insert id="save" >
        /* 파일 저장 - FileMapper.save */
        INSERT INTO FILE
        (
            ENTITY_NAME,ENTITY_SEQ,
            ENTITY_TYPE, FILE_PATH,
            FILE_NAME, ORIGIN_FILE_NAME,
            FILE_TYPE,FILE_SIZE
        )
        VALUES
            (
                #{entityNm},#{entitySeq},
                #{entityType},#{filePath}
                ,#{fileNm},#{orgFileNm},
                #{fileType},#{fileSize}
            )
    </insert>
    <insert id="saveTempFile">
        /** 임시 파일 저장 - FileMapper.saveTempFile*/
        INSERT INTO FILE_TEMP
        (
            FILE_NAME, ENTITY_NAME,
            ENTITY_TYPE, ORIGIN_FILE_NAME,
            FILE_SIZE
        )
        VALUES
            (
              #{fileNm}, #{entityNm},
              #{entityType}, #{orgFileNm},
              #{fileSize}
            )
    </insert>
    <update id="deleteFile">
        /* 파일 삭제 - FileMapper.delete */
        DELETE FROM FILE WHERE FILE_SEQ = ${fileSeq}
    </update>

    <!-- 저장/수정/삭제 ]] -->
</mapper>