#main_wrapper {
    margin-left: 270px;
}

#content_wrapper {
    margin-left: 280px;
    margin-right: 10px;
    margin-bottom: 85px;
}

.no-list-found {
    text-align:center;
}

/* Modal Begin */
#modalCloseButton, .left-list, .right-list, .glyphicon {
    cursor: pointer;
}

#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#modal_detail_wrapper {
    position: absolute;
    background-color: #ffffff;
    width: 80%;
    height: 70%;
    padding: 5px;
}

#modalContainer.hidden {
    display: none;
}

/* Modal End */