#findById-wrapper {
    height:30px;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#sendEmail{
    margin-top:25px;
}

#findByPassword-wrapper{
    height:30px;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#find-wrapper{
    font-size:16px;
    margin-top:10px;
}